## Exercici 1

### Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un Pandas Dataframe. Explora les dades que conté, explica breument quines variables hi ha i queda’t únicament amb les columnes que consideris rellevants. Justifica la teva elecció.

In [5]:
#Importo pandas i matlplotlib i creo el dataframe amb tots els registres de la BD Delays.
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline


plt.style.use('default')
plt.rcParams['figure.figsize'] = (15, 5)

df = pd.read_csv('DelayedFlights.csv') #importo l'arxiu csv
df.copy()
#·limino columnes redundants
df.drop(["Year","Unnamed: 0","CRSDepTime","CRSArrTime","CRSElapsedTime"],axis=1,inplace=True)#Elimino les columnes redundants.
df_m=df.sample(200000).sort_values("Month") #Agafo una mostra aleatoria de 200.000 registres i ordeno per mes de l'any.
df_m

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,AirTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
117941,1,20,7,1853.0,2019.0,MQ,3394,N804AE,86.0,69.0,...,10.0,7.0,0,N,0,1.0,0.0,0.0,0.0,53.0
119303,1,10,4,1021.0,1153.0,MQ,3614,N831AE,92.0,71.0,...,14.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
182255,1,8,2,913.0,1106.0,DL,691,N3771K,233.0,222.0,...,2.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
165896,1,10,4,1230.0,1514.0,AS,635,N583AS,164.0,137.0,...,10.0,17.0,0,N,0,20.0,0.0,4.0,0.0,0.0
176566,1,24,4,1716.0,2325.0,CO,1634,N35271,249.0,234.0,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006066,6,1,7,1110.0,1145.0,HA,145,N477HA,35.0,22.0,...,6.0,7.0,0,N,0,1.0,0.0,0.0,0.0,67.0
1046318,6,23,1,1352.0,1603.0,AA,1275,N4XDAA,191.0,173.0,...,6.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
955475,6,28,6,1956.0,2143.0,OO,5991,N925SW,107.0,89.0,...,3.0,15.0,0,N,0,0.0,0.0,4.0,0.0,146.0
932739,6,9,1,1403.0,1653.0,YV,7047,N518LR,170.0,153.0,...,4.0,13.0,0,N,0,58.0,0.0,0.0,0.0,0.0
1008066,6,19,4,2144.0,2321.0,MQ,3397,N811AE,97.0,81.0,...,3.0,13.0,0,N,0,0.0,11.0,0.0,0.0,25.0

##### La columna "Unnamed" l'elimino, perquè no aporta ninguna informació. La columna "Year" no té rellevancia ja que sempre indica l'any 2008. 
##### Tenint en compte que en el nostre cas només són rellevants les dades del temps real i no les dades del temps programat, elimino totes aquelles columnes que tenen CRS davant.
##### Finalment vaig pensar en eliminar les columnes que especifiquen els delays, però penso que em pot servir al final per fer un estudi de les causes més frecuents de delays. Ademés pot ajudar als experts a intentar reduir els delays del avions.

## Exercici 2
### Fes un informe complet del dataset

### 1.Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.

##### Per fer un resum estadístic de les dades, he utilitzat la funció ".describe()" que facilita molt la feina ja que crea una taula amb la mitjana, la desviació estàndar, el valor mínim, màxim i els percentils. Tot seguit he utilitzat la funció ".round(2)" per arrodonir a dos decimals. Només he inclos a la taula aquelles dades que em semblen útils ja que per exemple el DepTime i ArrTime no te sentit utilitzar-lo ja que es tracta d'una hora. El mes i el dia del mes i el número de vol tampoc son rellevants.
##### A la fila count es pot veure com hi han columnes que tenen valors NaN ja que no totes tenen 200000 elements.

In [6]:

import pandas as pd
pd.options.display.max_columns = 0 #Mostra totes les columnes
df.loc[:,["ActualElapsedTime","AirTime","ArrDelay","DepDelay","Distance","TaxiIn","TaxiOut"]].describe().round(2)

       ActualElapsedTime     AirTime    ArrDelay    DepDelay    Distance      TaxiIn     TaxiOut
count         1044679.00  1044679.00  1044679.00  1048575.00  1048575.00  1044679.00  1048575.00
mean              131.69      107.02       42.18       42.79      751.33        6.68       18.00
std                70.62       67.48       55.77       52.47      560.97        4.95       13.74
min                15.00        0.00      -69.00        6.00       11.00        0.00        0.00
25%                80.00       58.00        9.00       12.00      337.00        4.00       10.00
50%               115.00       89.00       25.00       24.00      602.00        5.00       14.00
75%               163.00      136.00       56.00       53.00      987.00        8.00       21.00
max               727.00      664.00     2461.00     2467.00     4962.00      207.00      383.00

##### Em centraré en la columna ArrDelay que és el que més m'importa. De totes maneres, la columna Distance i AirTime ens pot servir per saber la correlació entre el retrás de l'avió i la distància que ha recorregut o entre el retrás i el temps de vol respectivament.  DepDelay també pot servir per saber la seva correlació amb ArrDelay ja que, com a norma general, quant més tard surti més tard arribará. 
##### La mitjana de minuts de retrás és de 412,18 minuts. La desviació estàndar és de 55,77 minuts, una xifra bastant alta. El rang (resto el mínim al màxim) és de 2530.

### 2.Troba quantes dades faltants hi ha per columna.

In [7]:
print(df_m.isnull().sum()) #Busco totes les dades nules del dataframe per columna i les sumo.

Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
ArrTime                755
UniqueCarrier            0
FlightNum                0
TailNum                  1
ActualElapsedTime      755
AirTime                755
ArrDelay               755
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 755
TaxiOut                  0
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         69284
WeatherDelay         69284
NASDelay             69284
SecurityDelay        69284
LateAircraftDelay    69284
dtype: int64

##### Tant ArrTime, AElTime, AirTime, ArrDelay com TaxiIn tenen 692 NaN. Pot ser que tinguin alguna relació. 
##### Els registres amb valors NaN es tracten de vols que han sigut cancelats o desviats, per això els hi falta informació. Aquests registres no m'interesen, per tant els elimino.
##### També hi han valors NaN a totes les columnes que especifiquen els delays. Això es degut a que els vols que no es consideren fora de temps (retras<15 minuts) no poden contenir cap valor en aquestes columnes per tant les seves causes de delay no existeixen.

In [8]:
df_m[df_m["ArrDelay"].isnull()] # Columnes amb valors nulls.

        Month  DayofMonth  DayOfWeek  DepTime  ...  WeatherDelay NASDelay  SecurityDelay LateAircraftDelay
55160       1           6          7   1143.0  ...           NaN      NaN            NaN               NaN
9440        1          10          4   1512.0  ...           NaN      NaN            NaN               NaN
169768      1           8          2    941.0  ...           NaN      NaN            NaN               NaN
66638       1           4          5    625.0  ...           NaN      NaN            NaN               NaN
65397       1          29          2   2121.0  ...           NaN      NaN            NaN               NaN
...       ...         ...        ...      ...  ...           ...      ...            ...               ...
981732      6          27          5   1058.0  ...           NaN      NaN            NaN               NaN
891139      6           9          1   1225.0  ...           NaN      NaN            NaN               NaN
987786      6          28          6   1444.0  ...           NaN      NaN            NaN               NaN
916526      6          28          6   1415.0  ...           NaN      NaN            NaN               NaN
986678      6          26          4   1641.0  ...           NaN      NaN            NaN               NaN

[755 rows x 25 columns]

##### Si ens fixem en la última columna, podem veure com tots els registres de la taula d'adalt han sigut desviats. En el meu cas no hi ha hagut cap vol que hagi sigut cancelat, però en podrien haver.

In [9]:
x=df_m[df_m["Diverted"]==1]
x["Diverted"]

55160     1
9440      1
169768    1
66638     1
65397     1
         ..
981732    1
891139    1
987786    1
916526    1
986678    1
Name: Diverted, Length: 755, dtype: int64

##### Finalment procedim a eliminar els registres que no necesitem per netejar la base de dades. La condició serà la següent: si i només si el vol ha sigut desviat/cancelat, llavors s'elimina el registre.

In [10]:
# Obtener el índice de las filas que cumplen la condición
indexNames = df_m[df_m['Diverted'] == 1].index  
# Eliminar esas filas usando el método .drop()
df_m.drop(indexNames, inplace=True)
df_m

         Month  DayofMonth  DayOfWeek  DepTime  ...  WeatherDelay NASDelay  SecurityDelay LateAircraftDelay
117941       1          20          7   1853.0  ...           0.0      0.0            0.0              53.0
119303       1          10          4   1021.0  ...           NaN      NaN            NaN               NaN
182255       1           8          2    913.0  ...           NaN      NaN            NaN               NaN
165896       1          10          4   1230.0  ...           0.0      4.0            0.0               0.0
176566       1          24          4   1716.0  ...           NaN      NaN            NaN               NaN
...        ...         ...        ...      ...  ...           ...      ...            ...               ...
1006066      6           1          7   1110.0  ...           0.0      0.0            0.0              67.0
1046318      6          23          1   1352.0  ...           NaN      NaN            NaN               NaN
955475       6          28          6   1956.0  ...           0.0      4.0            0.0             146.0
932739       6           9          1   1403.0  ...           0.0      0.0            0.0               0.0
1008066      6          19          4   2144.0  ...          11.0      0.0            0.0              25.0

[199245 rows x 25 columns]

### 3.Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...).

##### Per crear la columna Velocitat_mitjana, multiplico els registres de la columna Distance per 1,60934 per aconseguir la distància en kilòmetres, no en milles. Seguidament divideixo aquest resultat entre el temps de vol entre 60. El resultat és la velocitat mitjana en km/hora. 
##### Per crear la columna que indica si el vol ha arribat tard, es té en compte que el vol no ha arribat a temps si el seu retràs és superior a 15 minuts. Aquesta columna contindrà variables booleanes. Indicará True si ha arribat tard i indicarà False si no ha arribat tard. Per fer això he fet una condició que diu si la columa ArrDelay del dataframe df_m és més gran que 15 retorna True, sino retorna False. Seguidament se li asigna la variable condition (que conté True o False) a la nova columna "Arriba_tard".

In [11]:
df_m['Velocitat_m'] = (df_m['Distance']*1.60934)/(df_m['AirTime']/60)
condition = df_m['ArrDelay'] > 15
df_m['Arriba_tard']=condition

In [12]:
df_m

         Month  DayofMonth  DayOfWeek  DepTime  ...  SecurityDelay LateAircraftDelay  Velocitat_m Arriba_tard
117941       1          20          7   1853.0  ...            0.0              53.0   535.980191        True
119303       1          10          4   1021.0  ...            NaN               NaN   520.882158       False
182255       1           8          2    913.0  ...            NaN               NaN   682.447151       False
165896       1          10          4   1230.0  ...            0.0               0.0   610.374499        True
176566       1          24          4   1716.0  ...            NaN               NaN   880.185185       False
...        ...         ...        ...      ...  ...            ...               ...          ...         ...
1006066      6           1          7   1110.0  ...            0.0              67.0   438.910909        True
1046318      6          23          1   1352.0  ...            NaN               NaN   679.271716       False
955475       6          28          6   1956.0  ...            0.0             146.0   566.343020        True
932739       6           9          1   1403.0  ...            0.0               0.0   617.229224        True
1008066      6          19          4   2144.0  ...            0.0              25.0   718.838533        True

[199245 rows x 27 columns]

### 4.Fes una taula de les aerolínies amb més endarreriments acumulats.

In [13]:
grouped=df_m.groupby("UniqueCarrier")
delays_mean=grouped["ArrDelay"].mean()
res=delays_mean.sort_values(ascending=False).head(5)
print("Les aerolinies amb més endarreriments acumulats en minuts són:", res)

Les aerolinies amb més endarreriments acumulats en minuts són: UniqueCarrier
YV    57.509646
XE    49.939480
UA    49.548066
B6    48.835052
AA    48.015414
Name: ArrDelay, dtype: float64

##### Primer de tot agrupem la taula per la identificació de l'aerolínea. Seguidament faig la mitjana de els delays que ha tingut cadascuna de les aerolínies. Finalment ordeno de forma descendent les dades segon ArrDelay i agafo només les 5 aerolínies amb més endarreriments acumulats. Faig la mitjana en comptes de la suma ja que la mitjana em dona una aproximació de les aerolinies més inpuntuals. En canvi, la suma el que fa és sumar tots els endarreriments, per tant una aerolínia amb més vols durant el 2008 segurament tingui més temps de retrás acumulat que una aerolínia que ha fet molts poc vols, però que a cadascun d'ells s'ha retrasat.
##### En aquest cas, la aerolinia Mesa Airlines és la aerolinia més impuntual.

### 5. Quins són els vols més llargs? I els més endarrerits? Busca les rutes més llargues i les que acumulen més retards.

###### 5.1. Vols més llargs

In [14]:
grouped=df_m.set_index("FlightNum")
res=grouped.sort_values("Distance", ascending=False).head(5)
print("Els vols més llargas són: \n", res["Distance"])

Els vols més llargas són:
 FlightNum
14    4962
15    4962
14    4962
15    4962
14    4962
Name: Distance, dtype: int64

##### Primer de tot paso la columna FlightNum com a index. Ordeno els registres segons la distància de forma descendent i agafo els 5 primers. A la primera columna es pot veure el número de vol, a la segona la distància del vol. Sembla que el vol número 15 es repeteix, això es degut a que es tracta d'un vol regular que ha sortit 20 vegades desde l'aeroport  "Newark Liberty International Airport" fins a l'aeroport "Honululu International Airport" de Hawai. Això explica la llarga distància de la ruta. El vol número 14 també té la mateixa distància ja que fa la mateixa ruta però a la inversa. 
##### A continuació es pot veure com he fet per trobar els noms dels aeroports de destí i origen.

In [15]:
noms=df_m[(df_m["FlightNum"] == 15) & (df_m["Distance"] == 4962)]
noms[["FlightNum","Origin","Dest"]]

        FlightNum Origin Dest
175736         15    EWR  HNL
179556         15    EWR  HNL
175136         15    EWR  HNL
367273         15    EWR  HNL
367920         15    EWR  HNL
363212         15    EWR  HNL
362407         15    EWR  HNL
556384         15    EWR  HNL
556367         15    EWR  HNL
556377         15    EWR  HNL
556386         15    EWR  HNL
720352         15    EWR  HNL
715390         15    EWR  HNL
715687         15    EWR  HNL
717191         15    EWR  HNL
716859         15    EWR  HNL
719887         15    EWR  HNL
718115         15    EWR  HNL
872325         15    EWR  HNL
875499         15    EWR  HNL
871310         15    EWR  HNL
872992         15    EWR  HNL
870904         15    EWR  HNL
878201         15    EWR  HNL
877383         15    EWR  HNL

##### Com a la taula surten tants vols repetits com les vegades que s'han realitzat , utilitzo la funció ".drop_duplicates()" per mostrar més vols.

In [16]:
df_m[["FlightNum","Origin","Dest","Distance"]].sort_values("Distance",ascending=False).drop_duplicates().head(5)

        FlightNum Origin Dest  Distance
556363         14    HNL  EWR      4962
872992         15    EWR  HNL      4962
810596       1282    HNL  ATL      4502
728312       1273    ATL  HNL      4502
183160        851    ATL  HNL      4502

##### 5.2. Vols més endarrerits

In [18]:
res=grouped.sort_values("ArrDelay", ascending=False).head(5)
print("Els vols més endarrerits en hores són: \n", res["ArrDelay"]/60)

Els vols més endarrerits en hores són:
 FlightNum
1606    23.250000
2233    21.866667
590     20.816667
4096    20.183333
1509    19.616667
Name: ArrDelay, dtype: float64

##### 5.3. Rutes més llargues.

###### Primer ajunto les columnes Origen i Destí en una sola, per facilitar el treball.

In [20]:
df_m['Rutes']=df_m.Origin.str.cat(df_m.Dest, sep=" ")
df_m['Rutes']

117941     BTR DFW
119303     BTR DFW
182255     CVG PHX
165896     LAS SEA
176566     PHX EWR
            ...
1006066    OGG HNL
1046318    BWI DFW
955475     ORD XNA
932739     ORD AUS
1008066    DFW HSV
Name: Rutes, Length: 199245, dtype: object

##### Segón, busco les rutes més llargues. Per fe-lo crido a la columna Rutes, creada al primer pas. Amb la funció .agg, printejo la columna distance começant pel valor màxim.

In [21]:
df_m.groupby(["Rutes"]).agg({"Distance":"max"}).sort_values("Distance", ascending=False).head(5)

         Distance
Rutes
HNL EWR      4962
EWR HNL      4962
HNL ATL      4502
ATL HNL      4502
ORD HNL      4243

##### 5.4. Rutes que acumulen més retards.

##### A continuació busco les rutes que acumulen més retards.

In [22]:
grouped=df_m.groupby("Rutes")
delays_mean=grouped["ArrDelay"].mean()
res2=delays_mean.sort_values(ascending=False).head(5)
print("Les rutes amb més retards acumulats en hores són: \n", res2/60)

Les rutes amb més retards acumulats en hores són:
 Rutes
FCA MSP    5.108333
RSW STL    4.546667
AZO MSP    4.541667
HDN LGA    4.416667
GRR MCO    4.308333
Name: ArrDelay, dtype: float64

##### A favor d'aquestes rutes, s'ha de dir que s'han fet un únic cop o amb molt poca freqüència. El cop que s'ha realitzat la ruta, ha sigut molt accidentat per qualsevol raó. Això explica les xifres tant exagerades que reflecteix la taula.
##### Exemple:

In [23]:
x=df_m[df_m["Rutes"]=="MCO PNS"] #Busco tots els registres amb ruta "MCO PNS"
(x["ArrDelay"]).count() #Compto el num de regitres de la ruta.
#El resultat és 2 !!

3

### 6.Aporta allò que consideris rellevant.

##### Em sembla interesant saber quin dia de la setmana i quin mes son els que es produeixen més retrasos.

In [24]:
df_m.groupby('DayOfWeek')['ArrDelay'].mean().sort_values(ascending=False)
#Dimarts es el dia que més retrasos s'han produit.

DayOfWeek
2    46.128475
5    44.989299
7    42.290129
1    42.252659
4    40.040038
3    39.410118
6    39.106836
Name: ArrDelay, dtype: float64

In [25]:
df_m.groupby('Month')['ArrDelay'].mean().sort_values(ascending=False)
#Juny es el mes amb més retrasos de mitjana.

Month
6    45.620867
2    45.208392
1    42.682320
3    41.794282
4    39.107084
5    37.618773
Name: ArrDelay, dtype: float64

##### Com vaig dir a l'exercici 2, pot ser que existeixi correlació entre algunes de les columnes. Vaig a comprovar-ho.

In [26]:
corr=df_m[["ArrDelay", "DepDelay", "Distance", "AirTime" ]].corr()
corr

          ArrDelay  DepDelay  Distance   AirTime
ArrDelay  1.000000  0.953034 -0.030645  0.002295
DepDelay  0.953034  1.000000 -0.007928 -0.002293
Distance -0.030645 -0.007928  1.000000  0.977578
AirTime   0.002295 -0.002293  0.977578  1.000000

In [71]:
# Existeix correlació entre ArrDelay i DepDelay. En canvi, no existeix correlació entre ArrDelay i Distance.

## Exercici 3
### Exporta el dataset net i amb les noves columnes a Excel.

In [ ]:
# Antes d'exportar es canvien els valors NaN a 0 per no tenir problemes.
df_delays = df_m.fillna(0)
df_delays.to_excel('New_FlightsDelay.xlsx', index=False)